*{
    box-sizing: border-box;
    margin: 0;
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
}
:root {
    --blue: skyblue;
    --white: #ffffff;
    --nav-height:5rem;
    --nav-width:80%;
    --aside-width:20%;
    --border-color:#FFAD60;
    --primary-bg:#020617;
    --common-bg:#fcf4ed;
  }
  /* tailwind fake  */
.gd1{
background-image: linear-gradient(to right top, #011f4b 0%,  #ffacac 100%);
}
.gd2{
background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.gd3{
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.gd4{
background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.gd5{
background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.gd6{
background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.gd7{
background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.gd8{
background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.gd9{
background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
.gd10{
background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.gd11{
background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
.gd12{
background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.gd13{
background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
.gd14{
background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
.gd15{
background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
.gd16{
background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
.bg-white{
    background-color: white;
    color:black
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.end{
    display: flex;
    justify-content: end;
    align-items: center;
}
.important{
    font-weight: 600;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.item-center{
    align-items: center;
}
.w-full{
    width: 100%;
}
.w-80{
    width: 80%;
}
.h-full{
    height: 100%;
}
.p-0{
    padding: 0;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.m-1{
    margin: 1rem;
}
.mt-5{
    margin-top: 5rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.my-05{
    margin: 0.5rem 0;
}
.white{
    color:white
}
.black{
    color: black;
}
.milk-tea{
    color: #cea689;
}
.espresso{
    color: #855e42;
}
.fast-food{
    margin: 0.3rem;
    color: #db620b;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(253 247 230);
}
.gold{
    color: gold;
}
.silver{
    color: #828c99;
}
.text-right{
    text-align: right;
}
.border-l-gray{
    border: rgb(30 41 59) solid;
    border-width: 0px 1px 0px 0px;
}
.border-b-gray{
    border: rgb(30 41 59) dashed;
    border-width: 0px 0px 1px  0px;
}
.border-b{
    border-bottom: white 2px solid;
}
.btn-color{
    border-radius: 1.1rem;
    padding: calc(18px) 2px;
}
.btn-pale{
    border: none;
    color: black;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}
.btn-pale:hover{
    color: black;
    background-color: transparent;
}
.btn{
    padding: 1rem;
    background-color:transparent;
    border-radius: 1rem;
    color: white;
    border: 2px white solid;
}
.btn:hover{
    padding: 1rem;
    background-color:var(--blue);
    border-radius: 1rem;
    color: black;
    border: 2px white solid;
}
.nav-height{
    height: var(--nav-height);
}
.block{
    display: block;
}
.none{
    display: none;
}
.block{
    display: block;
}
.circle{
    border-radius: 50%;
}
.rounded{
    border-radius: 1rem;
}
.overflow-x{
    overflow-x: scroll;
}
.overflow-y{
    overflow-y: scroll;
}
.screen{
    width: 100vw;
    height: 100vh;
}
.content{
    width: fit-content;
}
.cursor{
    cursor: pointer;
}
.relative{
    display: relative;
}
/*animation*/
@keyframes appear{
    from {
        opacity: 0;
        scale: 0.6;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.appear{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}
@keyframes run{
    from{
        transform: translateX(160%);
    }
    to{
        transform: translateX(-115%);
    }
}
.run{
    display: block;
    position: absolute;
    animation: run infinite 15s linear;
    white-space: nowrap;
    color: black;
}
.run a{
    text-decoration: none;
    color: red;
}
.run-placeholder{
    position: relative;
    overflow: hidden;
    background-color: #accbee;
    height: 3rem;
}
/*begin with navbar*/
body{
    overflow-x: hidden;
    position: relative;
}
nav{
    height: var(--nav-height);
    width: var(--nav-width);
    left: var(--aside-width);
    padding: 0.5rem;
    background-color: #020617;
    color:#cea689;
    position: fixed;
    z-index: 10;
    top:0;
}
.nav-wrap img{
    padding: 1.2rem 0 1.2rem;
    height: var(--nav-height);
    object-fit: cover;
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: var(--border-color) ;
}
.user{
    align-items: end;
}
.drop-box{
    position: absolute;
    top:var(--nav-height);
    right: 0;
    list-style: none;
}
.drop-box li{
   height: fit-content;
    padding: 1rem;
    background-color: #121b43;
    font-weight: 600;
}
.drop-box li:hover{
   color: red;
   background-color: #2b366a;
}
.drop-box img{
    padding: 0;
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
aside{
    margin: 0;
    width: var(--aside-width);
    top: 0;
    left:0;
    height: 100vh;
    background-color: #020617;
    color:#cea689;
    position: fixed;
    z-index: 10;
}
aside img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
#shortcut-menu{
    width: 100%;
    padding: auto;
    position: fixed;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    top: var(--nav-height);
}
#shortcut-burger{
    display: none;
}
.logo{
    padding: 0;
    width: 90%;
    height: auto;
}
ul{
    padding: 0;
}
aside ul li, .logout-aside{
    width: 100%;
    text-align: left;
    list-style: none;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: 0.02s;
    cursor: pointer;
}
aside p{
    margin-left: 0.5rem;
}
aside a{
    text-align: left;
    width: 100%;
    padding: 1rem;
}
aside ul li img{
    height: 2rem;
    object-fit: cover;
}
aside ul li:hover, .active{
    filter:brightness(110%);
    background-color: #121b43;
}
.logout-aside{
    position: absolute;
    bottom: 1rem;
}
main{
    margin-top: var(--nav-height);
    width: calc(100%-(var(--aside-width)));
    margin-left: var(--aside-width);
    background-color: #020617;
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    position: relative;
}
#ontop{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    background-color: crimson;
}
.dashboard{
    background-color: var(--primary-bg);
    color: black;
    width: 100%;    
    flex-wrap: wrap;
    display: flex;
}
.dash-wrap{
    width: 20%;
    background-color: transparent;
    padding: 1rem;
}
.dash-wrap a{
    text-decoration: none;
}
.dash-content{
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    border: var(--border-color)  solid 3px;
    color: black;
    height: 12rem;
}
.dash-content img{
    height: 6rem;
}
.dash-content h2:nth-child(2){
    margin: 0.3rem;
    color: #db620b;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(253 247 230);
}
.dash-content:hover{
    background-color:var(--border-color) ;
}
.up{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 1rem;
    color:mediumseagreen;
    background-color: rgb(232 249 239);
}
.down{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    justify-content: center;
    color: red;
    background-color: rgb(253 236 236);
}
.line{
    padding-left: 0.5rem;
    border-left: 0.4rem solid #E76F51 ;
    margin: 0 0 1rem 0;
}
.line:not(:nth-child(1)){
    margin-top: 1rem;
}
.line a{
    text-decoration: none;
    color: #E76F51;
    font-weight: 600;
}
.line a:hover{
    color: #FF0066;
}
.best{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.rank{
    border: 3px solid var(--border-color) ;
    width: 30%;
    height: 20rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:end;
    text-align: center;
    position: relative;
    margin: auto;
    border-radius: 1rem;
}
.rank-drink{
    position: absolute;
    width: 100%;
}
.rank2 .rank-drink{
    top:-35%
}
.rank1 .rank-drink{
    top:-50%
}
.rank3 .rank-drink{
    top:-25%
}
.rank-staff{
    object-fit: cover;
    object-position: center;
}
.rank-staff img{
    object-fit: cover;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    position: relative;
}
.rank1{
    top: -70%;
}
.rank h1+p{
    margin: 1rem;
    padding: 0 1rem;
}
.rank-person, .rank{
    width: 30%;
    height: 20rem;
    background-color: var(--common-bg);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:end;
    text-align: center;
    position: relative;
    margin: auto;
    border-radius: 1rem;
    border: var(--border-color) 3px solid;
}
.best:hover .rank-person{
    opacity: 0.5;
}
.best .rank-person:hover{
    opacity: 1;
    box-shadow: 18px 16px 18px -8px rgba(0,0,0,0.51);
    -webkit-box-shadow: 18px 16px 18px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 18px 16px 18px -8px rgba(0,0,0,0.51);
}
.rank-person h1+p{
    margin: 1rem;
    padding: 0 1rem;
}
.crown{
    position: absolute;
    width: 5rem;
    top: 0;
    right: 22%;
    rotate: 30deg;
}
/* ----------------------------------product page  */
label{
    margin: 0.5rem 0;
}
input, textarea{
    border: 2px gray solid;
    color: black;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
}
textarea{
    height: 10rem;
}
button{
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}
.over-form{
    cursor: context-menu;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    padding: 2rem;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
}
#close{
    position: absolute;
    top:0.3rem;
    right:1.2rem;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    z-index: 999999;
}
    .product-page button[type='button']{
        border: 2px transparent solid;
    }
    .submit-btn{
        background-color: #75e9e3;
    }
    .submit-btn:hover{
        background-color: #26e8db;
    }
    .cancel-btn{
        background-color: #f37d8d;
    }
    .cancel-btn:hover{
        background-color: #f5576c;
    }
    .option:hover{
        background-color: #2b366a;
    }
table{
    margin-top: 1rem;
    text-align: left;
    border: 2px gray solid;
    padding: 0.5rem;
    border-collapse: collapse;
    width: auto;
    width: 100%;
}

thead{
    background-color: #2b366a;
}
td, th, tr{
    padding: 0.5rem;
    border: 2px white solid;
}
td img{
    object-fit: cover;
    width:2rem;
    height: 2rem;
    cursor: pointer;
    border: none;
    margin: 0 1rem 0 0;
}
td .product-img{
    width: 5rem;
    height: 5rem;
}
.prod{
    width: 100%;
}
#close-edit{
    position: absolute;
    top:0.3rem;
    right: 0.7rem;
    font-size: xx-large;
    text-decoration: none;
    color: black;
    z-index: 999;
}
/* edit product sv  */
#over-edit-prod{
    z-index: 10;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
/*------------------------------------------- status page  */
.atm{
    padding: 1rem;
    width: 25rem;
}
.short-cash{
    width: 80%;
    align-items:start;
}
.short-cash h3{
    margin-bottom: 2rem;
}
.card{
    display: flex;
    align-items: start;
    padding: 1rem 2rem 1rem 1rem;
    margin: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* ---------------------------------------------staff page  */
.person img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
}
.person{
    width: 100%;
    justify-content: start;
    align-items: start;
}
.person p{
    margin: 1rem;
}
.person:not(:last-child){
    border-bottom: 1px gray solid;
}
.person:nth-child(even){
    flex-direction: row-reverse;
}
.person:nth-child(even) p{
    margin: 1rem 0;
}
.staff-detail{
    color: black;
}
.over-staff-detail{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}
.over-staff-detail input:focus, .over-staff-detail textarea:focus{
    outline: none;
    border: 2px #2575fc solid;
    background-color: #dfedfc;
}
.business p, .business label{
    color: gray;
}
.business input,.business textarea, .business h2{
    margin: 0.5rem 0;
}
.employee p, .employee img{
    margin: 0.5rem 0;
}
#over-staff{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
}
.avt{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem 2rem;
}
/* ---------------------------------login page  */
.login{
    width: 40%;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: red;
}
.login-form input{
    border: 2px black solid;
    outline: none;
}
.login-form input::selection{
    border: #5ee7df;
}
/*ex tacy*/
.log{
    padding: 2rem 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: auto;
    background-color: transparent;
    border-radius: 2rem;
    overflow: hidden;
    background-color: white;

/* background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.7px);
-webkit-backdrop-filter: blur(5.7px);
border: 1px solid rgba(255, 255, 255, 0.41); */
}
.lam-mau{
    width: 100vw;
    height: 100vh;
    background-image: url('./media/photo-1449198063792-7d754d6f3c80-1.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
.nhap{
  margin: 1rem;
  position: relative;
  padding: 1rem  0.5rem 0 0;
  display: flex;
  border-bottom: solid 2px black;
}
.nhap input{
  color: black;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.nhap input:focus{
    outline: none;
    border: none;
    background-color: transparent;
}
.nhap label{
  position: absolute;
  left: 0;
  top: 50%;
}
.nhap img{
  right: 0;
  width: 2rem;
  height: 2rem;
}
.submit{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#log{
  border-radius: 1rem;
  text-align: center;
  width: inherit;
  padding: 1rem;
  width: 90%;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  color: black;
  text-decoration: none;
  margin: 1rem;
  transition: 0.2s;
}
#log:hover{
    color: white;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    scale: 1.1;
}
/* end ex tacy */
/* -----------------------------footer only  */
footer{
    border: rgb(30 41 59) solid;
    border-width: 2px 0px 0px 0px;
    width: calc(100%-(var(--aside-width)));
    margin-left: var(--aside-width);
    background-color: #020617;
    color: white;
}
footer li a{
    color: gray;
}
footer li{
    padding: 0.5rem 0 0.5rem 0;
    list-style: none;
    width: fit-content;
    border-bottom: transparent 2px solid;
}
footer li:hover{
    border-bottom: red 2px solid;
}
footer a{
    color: inherit;
    text-decoration: none;
}
footer h1{
    margin: 0 0 1rem 0;
}
.social{
    width: 2rem;
    object-fit: cover;
}
.signature{
    border: rgb(30 41 59) dashed;
    border-width: 1px 0px 0px 0px;
}
@media only screen and (max-width: 1200px) {
    :root{
        --aside-width:30%;
        --nav-width:70%;
    }
    .dash-wrap{
        width: 50%;
    }
    .dash-content{
        height: 10rem;
    }
    .footer-list{
        flex-direction: column;
    }

    /* top drink sold  */
    .best{
        margin-top: 4rem;
        flex-direction: column;
    }
    .best .rank:nth-child(2){
        order: -1;
        margin-top: 15%;
        height: 20rem;
    }
    .rank:not(:nth-child(2)){
        margin-top: 27%;
        top: -10%;
    }
    .rank{
        height: 16rem;
        width: 80%;
    }
    .best:hover .rank-person{
        opacity: 1;
    }
    .rank-drink{
        width: 70%;
    }
    .rank1 .rank-drink{
        top:-40%;
    }
    .rank2 .rank-drink{
        top:-55%;
    }
    .rank3 .rank-drink{
        top:-45%;
   }
   
   /* employeee of the moth  */
   .rank-person{
        width: 100%;
    }
    .crown{
        right: 30%;
    }
    .best .rank-person:nth-child(2){
        order: -1;
    }
    .rank-person:not(:nth-child(2)){
        margin-top: 10%;
    }
    /* product page  */
    #table{
        overflow-x: scroll;
    }
    /* status page  */
    .status{
        display: flex;
        flex-direction: column;
    }
    .atm{
        padding: 0;
        width: 100%;
    }
    .short-cash{
        width: 100%;
    }
    /* staff page  */
    .person:nth-child(even){
        flex-direction: column;
    }
    .person:nth-child(odd){
        flex-direction: column;
    }
    .person p{
        margin: 1rem 0;
    }
    .over-staff-detail{
        background-color: #121b43;
        color: white;
        width: 100%;
        top: 0;
        right: 0;
        border-radius: 0;
        z-index: 10;
        position: fixed;
    }
    #close{
        color: white;
    }
    /* login page  */
    .login{
        width: 60%;
    }
    .log{
        width: 60%;
        height: 80%;
    }
}
@media only screen and (max-width: 720px) {
    :root{
        --aside-width:30%;
        --nav-width:70%;
    }
    body{
        font-size: 14px;
        width: 100%;
    }
    main, footer{
        width: 100%;
        margin-left: 0;
    }
    .dash-wrap{
        width: 100%;
    }
    .status{
        display: flex;
        flex-direction: column;
    }
    #nav-top{
        left: 0;
        width: 100%;
    }
    #nav{
        display: none;
    }
    aside{
        display: block;
    }
    .line{
        align-items: start;
        flex-direction: column;
    }
    .line a{
        padding: 0 1rem;
    }
    .logout-aside{
        bottom: 15%;
    }
    .crown{
        right: 25%;
    }
    #shortcut-burger{
        display: block;
    }
    .rank-drink{
        width: 100%;
    }
    .rank1 .rank-drink{
        width: 100%;
        top:-25%;
    }
    .rank2 .rank-drink{
        width: 100%;
        top:-40%;
    }
    .rank3 .rank-drink{
        width: 100%;
        top:-28%;
    }
    /* status  */
    /* product page */
    #over{
        width: 100vw;
    }
    .over-form, .over-staff-detail, #over-edit-prod{
        background-color: #121b43;
        color: white;
        width: 100%;
        border-radius: 0;
        z-index: 10;
        position: fixed;
    }
    input:focus{
        outline: none;
        border: 2px skyblue solid;
        background-color: #c7eafd;
    }
    #over form{
        padding: 1rem;
        width:100%;
    }
    #close-edit, #close{
        color: white;
    }
    /* staff page  */
    .employee-data{
        flex-direction: column;
    }
    #over-staff{
        position: fixed;
    }
    /* login page  */
    .login{
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
    .log{
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    @keyframes run{
        from{
            transform: translateX(120%);
        }
        to{
            transform: translateX(-115%);
        }
    }
}
@media only screen and (max-width: 321px){
    .best{
        padding: 0;
    }
    .best .rank.rank1 {
        height: 16rem;
    }
    .rank1 .rank-drink{
        top:-35%;
    }
    .rank2 .rank-drink{
        top:-30%;
    }
    .rank3 .rank-drink{
        top:-22%;
    }
    .crown{
        right: 20%;
    }
    .select button:hover{
        background-color: red;
    }
}
